.widget {
    background: $light-blue;
    margin-bottom: $xl-size;
}

.widget__message {
    border-bottom: 2px solid lighten($light-blue, 10%);
    color: $off-white;
    margin: 0;
    padding: $l-size;
    display: flex;
    justify-content: center;
    
}

.widget-header {
    background: $blue;
    color: $off-white;
    padding: $m-size;
    display: flex;
    justify-content: space-between;
}

.widget__header__title {
    margin: 0;
}